<head>  <%= javascript_include_tag 'index' %></head>
<p>Pick a taco, any taco!</p>
<div id="button"><%= button_to "SHOW ME THE TACOS", action: "search" %></div>

<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map" style="width:100%;height:380px;"></div>



